<div class= "row" style={heigt: 15px}>
</div>

<div class="row" style= {background: red;}>
	<div class= "col-md-4">
	</div>
	<div class= "col-md-4">
		<h2>About...</h2>
	</div>
	<div class= "col-md-4">
	</div>
</div>

<div class="row">
	<div class= "col-md-4">
	</div>
	<div class= "col-md-4">
	</div>
	<div class= "col-md-4">
	</div>
</div>